<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <title>Home</title>
</head>
<body>
    
    
    <div class="img">
        <img [src]="images[0]" alt="Homepage" width="100%" >
        <div class="carousel-caption d-none d-md-block">
            <h1 class="smallheading">Since2020</h1>
            <h1 class="Carousel-heading">Welcome To the IMS</h1>
            <p>Customer demands have evolved with the development of technology. Consumers increasingly
                take to the web, seeking quotations and demanding instant services. Insurance companies
                need to tap into this customer base by capitalizing on speed and accuracy</p>
            <table>
              <tr>
                <th><button class="button button1">Contact Us</button></th>
                <th><button class="button button2">Get A Quote</button></th>
              </tr>
            </table>
             </div>
    </div>
   <!-- <div class="container">
        <div class="row">
            <div class="col 8">
                <div id="carouselExampleIndicators" class="img" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img  src="../assets/homepage1.jpg" class="d-block w-100 img-slider" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Hello How are You</h5>
                            <p>I am here</p>
                          </div>
                      </div>
                      
                    </div>
                    
                  </div>
            </div>
        </div>
   </div> -->
    
      
    <div class="footer">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">affiliate program</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">objective</a></li>
                            <li><a href="#">profile</a></li>
                            <li><a href="#">policy status</a></li>
                            <li><a href="#">payment options</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>About Policy</h4>
                        <ul>
                            <li><a href="#">policy type</a></li>
                            <li><a href="#">insurance</a></li>
                            <li><a href="#">premium</a></li>
                            <li><a href="#">mediclame</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
       </footer>
    </div>


</body>
</html>
