<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>


<body>
 
  <div class="insurance mt-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="insurance-policy">
            <i class="fa fa-car"></i>
            <h2>Car Insurance</h2>
            <p>
              Protect your car against accidents, third party liability & get damages inspected online.cashless garage facilities personal Accident Cover.3400+
              Cashless Garages..
            </p>
            <a href="">Learn More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="insurance-policy">
            <i class="fa fa-home"></i>
            <h2>Home Insurance</h2>
            <p>
              Coverage against Fire, Theft, Earthquake and all Natural Calamities.Choose Safegaurd Your House from
              Disasters.Whole life Cover 15+ Features. 24*7 Assistance
            </p>
            <a href="">Learn More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="insurance-policy">
            <i class="fa fa-medkit"></i>
            <h2>Health Insurance</h2>
            <p>
              Affordable health cover for your loved ones, Be assured of the best with Star by your side. Pre & Post Hospital Coverage. Up to 100% Increase in Sum Insured Upon a Claim Free Renewal.
            </p>
            <a href="">Learn More</a>
          </div>
        </div>
      </div>
   
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="insurance-policy">
            <i class="fa fa-file-text"></i>
            <h2>Business Insurance</h2>
            <p>
              Competitive Premiums.Call toDocs Issued Instantly.Portable Equipment Cover. Legal Expenses Cover.Over 20 Years Experience.Office Equipment Cover.
            </p>
            <a href="">Learn More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="insurance-policy">
            <i class="fa fa-globe"></i>
            <h2>Travel Insurance</h2>
            <p>
              Travel smart with a policy that covers loss of baggage, passport & trip cancellation. Insure your travel plans with cover for missed flight connections, trip cancellations. 
            </p>
            <a href="">Learn More</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="insurance-policy">
            <i class="fa fa-heartbeat"></i>
            <h2>Life Insurance</h2>
            <p>
              Now increase or decrease your life cover at specified life stages without any medical. Get 3 Premium Breaks for policy term between 11-21 years Protect Your Family.
            </p>
            <a href="">Learn More</a>
          </div>
        </div>
     
    </div>
  </div>
</div>

  


 
  <div class="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-img">
            <img src="assets/1.jpg" alt="Image">
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <div class="section-header" style="text-align:center">
              <p >About Us</p>
              <h2>Insurance Policy</h2>
            </div>
            <div class="about-text">
              <p>
                Comprehensive Plans for Individuals & Family with Direct Claim Settlements. Cashless Facility & Assured Renewal for Life + Tax Saving Benefits U/S 80D. Paperless Reimbursements. No Room Rent Cap. Hospital Accommodation. No Third Party Agents. Maternity & NewBorn Cover.
              </p>
              <p>
                Pre & Post Hospital Coverage. Up to 100% Increase in Sum Insured Upon a Claim Free Renewal. No capping on room rent, Treatment at Single A/C room Covers dental, ophthalmic treatments. Fastest Claim Approvals. No Pre-medical Screening. Free Health Check-up. No Documentation. Save Tax U/s 80
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <h5 style="color: skyblue; text-align: center;">Our Feedback</h5>
  <b><p style="font-size: 50px; text-align: center;">What Client Says</p></b>

  <p style="text-align:center;">We value your trust and confidence 
                                in us and sincerely appreciate you!
                                We look forward to serving you again 
                                in the future!We would like to thank 
                                excellent company like you for your support.</p>

<img src="assets/tru.jpg" height="200" width="200" style="margin-left: 650px;">
  


  
<div class="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">objective</a></li>
                        <li><a href="#">profile</a></li>
                        <li><a href="#">policy status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>About Policy</h4>
                    <ul>
                        <li><a href="#">policy type</a></li>
                        <li><a href="#">insurance</a></li>
                        <li><a href="#">premium</a></li>
                        <li><a href="#">mediclame</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
</div>
  
</body>

</html>

