<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <script src="https://use.fontawesome.com/72f3d00eee.js"></script>
</head>

<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header style="padding-top: 0px;">
    <label for="check">
      <i style="padding-left: 60px;margin-top: 17px;" class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>Insurance Management</h3>
    </div>
    <div class="right_area">
      <a href="/login" class="logout_btn">Logout</a>
    </div>
  </header>
  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar" style="margin-top:60px;">
    <div class="sidebaritem">
    <img [src]="images[0]" class="profile_image" alt="profile_image">
    <h3 style="color: white;">Admin</h3>
    <a routerLink="/admin"><i class="fas fa-tachometer-alt"></i><span>  Dashboard</span></a>
    <a routerLink="/all" routerLinkActive="Active"><i class="fab fa-product-hunt"></i><span>  Customer</span></a>
    <a routerLink="/category" routerLinkActive="Active"><i class="fas fa-history"></i><span>  Category</span></a>
    <a routerLink="/policydashboard" routerLinkActive="active"><i class="fas fa-question-circle"></i><span>  Policy</span></a>
    <a routerLink="/all5" routerLinkActive="Active"><i class="fas fa-sync-alt"></i><span>  Questions</span></a>
    </div>
</div>
  <!--sidebar end-->
 
  <div class="container">
    <div class="Table">
        <div class="panel panel-primary">
        <div class="panel-heading">
    <h6 class="panel-title"> EditCustomer</h6>
</div>
<form (ngSubmit)='updateManish()'>
    <!-- row#1 -->
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="policyname">Category</label>
                <input type="text" [(ngModel)]="manish.creation" name="name" class="form-control"
                    placeholder="Enter Policy Name" required />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="category">Policy Name</label>
                <input type="text" [(ngModel)]="manish.policyname" name="category"
                    class="form-control" placeholder="Enter Category Name" required />
            </div>
        </div>
    </div>
    <!-- row#2 -->
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="policyname">Sum Assurance</label>
                <input type="text" [(ngModel)]="manish.sum" name="name" class="form-control"
                    placeholder="Enter Policy Name" required />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="category">Premium</label>
                <input type="text" [(ngModel)]="manish.amount" name="category"
                    class="form-control" placeholder="Enter Category Name" required />
            </div>
        </div>
    </div>

    <!-- Row 3 -->
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="policyname">Tenure</label>
                <input type="text" [(ngModel)]="manish.interest" name="name" class="form-control"
                    placeholder="Enter Policy Name" required />
            </div>
        </div>
    </div>

    
    <input type="submit" value="Update Customer" class="btn btn-success"/>
</form>
</div>
</div>

</div>
  
</body>

</html>




