<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    
    <title>Customer - Home Page</title>
  </head>
  <body>
    <div class="jumbotron">
    <div class="img">
      <img [src]="images[0]" alt="Homepage" width="100%" >
      <div class="carousel-caption">
        <h1 class="display-4">Hello, Customer</h1>
        <p class="lead">Welcome to Insurance Management System.</p>
        <hr class="my-4">
        <p><b>You can access various features after Login.</b></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" routerLink="/add" role="button">Create Account</a>
          <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
        </p>
          </div>
  </div>
</div>

  </body>
</html>

