<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://use.fontawesome.com/72f3d00eee.js"></script>
</head>

<body>

    <input type="checkbox" id="check">
    <!--header area start-->
    <header style="padding-top: 0px;">
        <label for="check">
            <i style="padding-left: 60px;margin-top: 17px;" class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>Insurance Management</h3>
        </div>
        <div class="right_area">
            <a href="/thankyou" class="logout_btn">Logout</a>
        </div>
    </header>
   
    <!--sidebar start-->
    <div class="sidebar" style="margin-top:60px;">
        <div class="sidebaritem">
        <img [src]="images[0]" class="profile_image" alt="profile_image">
        <h3 style="color: white;">Admin</h3>
        <a routerLink="/admin"><i class="fas fa-tachometer-alt"></i><span>  Dashboard</span></a>
        <a  routerLinkActive="Active"><i class="fab fa-product-hunt"></i><span>  Customer</span></a>
        <a routerLink="/category" routerLinkActive="Active"><i class="fas fa-history"></i><span>  Category</span></a>
        <a routerLink="/policydashboard" routerLinkActive="active"><i class="fas fa-question-circle"></i><span>  Policy</span></a>
        <a routerLink="/all5" routerLinkActive="Active"><i class="fas fa-sync-alt"></i><span>  Questions</span></a>
        </div>
    </div>
    <!--sidebar end-->


    <div class="container">
        <div class="Table">
            <div class="panel panel-primary">
            <div class="panel-heading">
        <h6 class="panel-title">Customer</h6>
    </div>
    <table class="table table-hover" id="dev-table">
        <thead>
        <tr class="bg-success text-white">
            <td><b>Id</b></td>
            <td><b>MobileNumber</b></td>
            <td><b>First & Last Name</b></td>
            <td><b>Gender</b></td>
            <td><b>Email</b></td>
            <td><b>Address</b></td>
            <td><b>Username</b></td>
            <td><b>Password</b></td>
            <td><b>Action</b></td>
        </tr>
    </thead>
        <tr *ngFor="let s of customers">
            <td>{{s.id}}</td>
            <td>{{s.mobilenumber}}</td>
            <td>{{s.name}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.email}}</td>
            <td>{{s.addr}}</td>
            <td>{{s.usern}}</td>
            <td>{{s.password}}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteCustomer(s.id)">DELETE</button> |
                <button class="btn btn-info" (click)="editCustomer(s.id)">EDIT</button>
            </td>
        </tr>
    </table>
    <span class="text-success">{{message}}</span>
    </div>
    </div>
    
    </div>
</body>

</html>